html,
body,
#root {
  height: 100%;
}

/* Animacion de la clase active-menu*/
.active-menu small,
.active-menu {
}
.btn-menu{
  color: #000;
}
.btn-menu i{
  transform: scale(1);
}
.btn-menu,
.btn-menu i{
  transition: all .3s ease-in;
}

.btn-menu.active-menu i,
.btn-menu.active-menu{
  color: #ff1a1a !important;
}

.btn-menu.active-menu i{
  transform: scale(1.4);
}

.outline-none {
  outline: none !important;
}
.bkg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.ht-100 {
  height: 100px !important;
}
.rounded-10 {
  border-radius: 10px;
}
.text-sm {
  font-size: 0.9rem !important;
}
.text-xsm {
  font-size: 0.7rem !important;
}
.w-40 {
  width: 40% !important;
}
.btn-gray {
  background: #f4f4f4;
}
.margin_center{
  margin: 0 auto;
}
.btn-file{
 overflow: hidden;
}
.btn-file > input{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}