
.active-menu{
  color: #FF1A1A  !important;
}
.outline-none{
  outline: none !important;
}
.bkg-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.ht-100{
  height: 100px !important;
}
.rounded-10{
  border-radius: 10px;
}
.text-sm{
  font-size: 0.9rem !important;
}
.text-xsm{
  font-size: 0.7rem !important;
}
.w-40{
  width: 40% !important;
}