.btn-primary,
.btn-success{
	border-radius: 10px;
	text-align:center;
	padding: 15px 18px;
  width: auto !important;
  height: 47px;
}

.btn-primary{
  background-color: #3d5afe;
  color: #fff;
}
.btn-primary:hover{
	background-color: #1a237e;
}
.btn-success{
    border: 1px solid #00bfa5;
    color: #00bfa5;
    background-color: transparent;
}
.btn-success:hover{
	color: #fff;
  background-color: #00bfa5;
}
